# You can install these dependencies by running: $ python -m pip install requirements.txt

certifi==2026.7.22
charset-normalizer==3.5.1
click==8.1.8  # 📦 direct dependency
idna==3.20
PyYAML==6.0.3  # 📦 direct dependency
requests==2.32.5  # 📦 direct dependency
urllib3==2.6.3
